* {
  margin: 0;
  padding: 0;
}

:root {
  --main-theme-color: black;
  --main-hover-color: green;
}

body {
  background-color: black;
  color: white;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

/*Link formating for main Page*/

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: var(--main-hover-color);
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:hover {
  color: var();
}

/* Table format */

thead {
  background: white;
  color: black;
  table-layout: fixed;
  width: 100%;
}

th {
  padding-left: 10px;
  padding-right: 10px;
  width: 50%;
}

/* Navbar */
nav {
  position: relative;
  padding-top: 0px;
  background: var(--main-theme-color);
  margin: 0px;
  border: 0px;
}

nav ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

nav li {
  list-style: none;
  margin: 1em;
  padding: 0;
  font-size: 1.5em;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  text-align: center;
}

nav a {
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav li:hover {
  background: lightgrey;
}

@media (min-width: 45em) {
  nav ul {
    flex-direction: row;
  }
  nav li {
    font-size: 1em;
  }
}

.stuff {
  background: pink;
  width: 200px;
  height: 200px;
}

.stuff1 {
  background: blue;
  width: 100px;
  height: 100px;
}

/*CSS for Star Rating */
