{% extends "base.html" %} {% include 'menu.html' %} {% block content %}
<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<form action="/" method="get" class="w-100" >
  <div class="input-group rounded w-100 p-1 form-group">
      <input name="search" type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
  </div>
  <div class="input-group rounded w-100 p-1 form-group">
    {% for genre in genres %}
    <label for="flexCheckDefault" class="p-1">
    <input name="{{genre.genre}}" class="form-check-input" type="checkbox" value="True" id="flexCheckDefault" {{genre.state}}>
    {{genre.genre}}</label>
    {% endfor %}
  </div>
</form>
<table class="table table-dark table-hover">
  {% for movie in movies %}
  <tr>
    <td><a href="{{movie.url}}">{{ movie.Titel }}</a></td>
    <td>{{movie.release_date}}</td>
    <td>⭐⭐⭐⭐⭐</td>
    {%if Loggedin.admin%}
    <td>
      <ul class="list-inline m-0">
        <li class="list-inline-item">
            <button
              class="btn btn-danger btn-sm rounded-0"
              type="button"
              data-toggle="tooltip"
              data-placement="top"
              title="Delete"
            >
              <a class="fa fa-trash" href="{{movie.del_url}}"></a>
            </button>
          </form>
        </li>
      </ul>
    </td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
{% endblock %}
